bson
pip==19.0.2
numpy==1.15.3
pandas==0.24.1
flask==1.0.2
scipy==1.2.1
scikit-learn==0.20.2
pymongo==3.7.2
Flask-Session==0.3.1
Flask-Cache==0.13.1
beautifulsoup4==4.7.1
html5lib==1.0.1
lxml==4.3.1
requests
